body {
    font-family: sans-serif;
    background-image: radial-gradient(circle, #667056, #e0e0e0);
    margin: 0;
    padding: 0; /* Rimuoviamo il padding dal body per gestire meglio le dimensioni del main */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra orizzontalmente il main */
    align-items: center; /* Centra verticalmente il main */
    min-height: 100vh; /* Assicura che il body occupi almeno l'intera altezza della viewport */
}

main {
    width: 90%; /* Imposta la larghezza al 90% del body */
    height: 90%; /* Imposta l'altezza al 90% del body */
    border: 1px solid #796e5d; /* Bordino sottile */
    border-radius: 8px; /* Bordino stondato */
    display: flex; /* Utilizziamo flexbox anche nel main per centrare il contenuto interno */
    flex-direction: column; /* Disponiamo gli elementi verticalmente all'interno del main */
    align-items: center; /* Centra orizzontalmente gli elementi all'interno del main */
    justify-content: center; /* Centra verticalmente gli elementi all'interno del main */
    background-color: white; /* Aggiungiamo uno sfondo bianco per far risaltare il main */
}

h1 {
    color: rgb(14, 31, 21);
    text-align: center;
}

p {
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}